@page "/"

<div class="main-container">
    <div class="container">
        <div class="content-block">
            <div class="logo-icon">
                <img src="/images/logo.png" />
            </div>
            <h1 class="main-heading">شروعی آسان با گلدیکس</h1>
            <p class="sub-heading">معاملاتتان را همین حالا مدیریت کنید</p>
        </div>

        <div class="button-container">
            <button class="button button-primary">
                ورود
            </button>
            <button class="button button-secondary">
                ثبت نام
            </button>
        </div>
    </div>
</div>

@code {

}
